.Bucket Explorer/
.CFUserTextEncoding
.PyCharm40/
.R/
.RData
.Rapp.history
.Rhistory
.Rprofile
.Xauthority
.android/
.astropy/
.atom/
.aws/
.bash_history
.bash_sessions/
.bashrc_backup
.boot2docker/
.cabal/
.cache/
.canopy/
.cloudapp
.compleat/
.config/
.cosmos/
.cups/
.docker/
.dropbox/
.dropbox_uploader
.el4r/
.el4rrc.rb
.electron/
.emacs
.emacs.d/
.enstaller4rc
.exercism.json
.filezilla/
.flashTool/
.gem/
.ghc/
.gitconfig
.gitignore_global
.gitmodules
.gplink_config
.greeting_message
.hgignore_global
.ievms/
.infinit/
.inkscape-etc/
.ipynb_checkpoints/
.ipython/
.ivy2/
.jupyter/
.lesshst
.local/
.matlab/
.ndar/
.node-gyp/
.node_repl_history
.npm/
.nylas/
.oracle_jre_usage/
.pia_manager/
.pia_manager_crash.log
.pip/
.profile-anaconda.bak
.profile_backup
.putty/
.pylint.d/
.python-eggs/
.rnd
.rstudio-desktop/
.sbt/
.ssh/
.starcluster/
.subversion/
.swt/
.synapseCache/
.synapseConfig
.tldr/
.viminfo
.virtualenvs/
.wget-hsts
.wingide5
.z
.z.26202
.zcompdump
.zcompdump-MacBook Air-5.0.8
.zsh-update
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
PycharmProjects/
anaconda/
bin/
lib/
local/
node_modules/
projects/
